{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Service - shongjog</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link href="{% static '/assets/img/favicon.png' %}" rel="icon" />

    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />


    <link
      href="/static/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="/static/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="/static/assets/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <link href="/static/assets/css/main.css" rel="stylesheet" />
  </head>

  <body class="service-details-page">
    <header id="header" class="header fixed-top">
      <div class="topbar d-flex align-items-center">
        <div
          class="container d-flex justify-content-center justify-content-md-between"
        >
          <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope d-flex align-items-center"
              ><a href="mailto:contact@example.com">{{ info_home.gmail }}</a></i>
            
            <i class="bi bi-phone d-flex align-items-center ms-4"
              ><span>{{info_home.contact_number}}</span></i
            >
          </div>
          <div class="social-links d-none d-md-flex align-items-center">
            <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="branding d-flex align-items-cente">
        <div
          class="container position-relative d-flex align-items-center justify-content-between"
        >
          <a href="/" class="logo d-flex align-items-center">
            <h1 class="sitename">
              <img src="/static/assets/img/logo.png" alt="" />
            </h1>
          </a>

          <nav id="navmenu" class="navmenu">
            <ul>
              <li>
                <div class="input-group">
                  <form method="GET" class = "service-form" style = "width:120vh;text-align:center;">
                    <input
                      type="text"
                      class="input"
                      id="text"
                      name="text"
                      placeholder="Search...."
                      autocomplete="off"
                      value="{{ request.GET.search }}" 
                    />
                    <input class="button--submit" value="Search" type="submit" />
                </form>
                <li>
                  <a href="/" class="active">Home<br/></a>
                </li>
              {% if user.is_authenticated %}
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav" style="color : white;">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Your Profile
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
                      <li><a  class="dropdown-item item_service" href="/profile/">Profile</a></li>
                      <li><a  class="dropdown-item item_service" href="{% url 'update_profile' %}">Update Profile</a></li>
                      <li><a  class="dropdown-item item_service" href="{% url 'logout' %}?next=/">Logout</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              {% else %}
              <li><a href="{% url 'login' %}">Log In</a></li>
              {% endif %}
                </div>
                
              </li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
          </nav>
        </div>
      </div>
    </header>

    <main class="main">
      <div class="page-title">
        <div
          class="heading"
          style="
            background-image: url(https://images.pexels.com/photos/1000445/pexels-photo-1000445.jpeg?cs=srgb&dl=pexels-belle-co-99483-1000445.jpg&fm=jpg); 
          "
        >
          <div class="container">
            <div class="row d-flex justify-content-center text-center">
              <div class="col-lg-8">
                <h1>All services</h1>
                <p class="mb-0">
                  A customer is the most important visitor on our premises, he is not dependent on us. We are dependent on him. He is not an interruption in our work. He is the purpose of it. He is not an outsider in our business. He is part of it. We are not doing him a favor by serving him. He is doing us a favor by giving us an opportunity to do so.
                </p>
              </div>
            </div>
          </div>
        </div>
        <nav class="breadcrumbs">
          <div class="container">
            <ol>
              <li><a href="/">Home</a></li>
              <li class="current">All service</li>
            </ol>
          </div>
        </nav>
      </div>

      <section id="service-details" class="service-details section">
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
              <div class="services-list">
                {% for item in search_todo %}
                <a href="#{{ item.service_name }}">{{ item.service_name }} Service</a>
                {% endfor %}
              </div>
            </div>

            <div class="col-lg-9" data-aos="fade-up" data-aos-delay="200">
              {% for item in search_todo %}
              <div class="overview mt-4" data-aos="fade-up" id = "{{ item.service_name }}" >
                <h3 class="mt-3 mb-3 "style = "margin-left:10px;">{{ item.service_name }} Service</h3>
                <div class="container mt-3">
                  <div class="row gy-4">
                    <div class="col-lg-4" data-aos="fade-up">
                      <img
                        {% if item.image_1 %}
                        src=" {{ item.image_1.url }} "
                        {% endif %}
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                    <div class="col-lg-4" data-aos="fade-up">
                      <img
                        {% if item.image_2 %}
                        src=" {{ item.image_2.url }} "
                        {% endif %}
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                    <div class="col-lg-4" data-aos="fade-up">
                      <img
                        {% if item.image_3 %}
                        src=" {{ item.image_3.url }} "
                        {% endif %}
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
                <h4 class="mt-5">All {{ item.service_name }} services</h4>
                <ul class="seba">
                  <div class="container mt-3">
                    <div class="row gy-4">
                      {% for ls in item.service_items.all %}
                      <div class="col-lg-4">
                        <a href="{% url 'seba' ls.id %}">
                          <li>{{ ls.service_name }}</li>
                        </a>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </ul>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer id="footer" class="footer accent-background">
      <div class="container footer-top">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-about">
            <a href="/" class="logo d-flex align-items-center">
              <span class="sitename">shongjog</span>
            </a>
            <p>
              {{ info_home.footer_description }}
            </p>
            <div class="social-links d-flex mt-4">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="#about">About us</a></li>
              <li><a href="/all_services">All Services</a></li>
              <li><a href="/">Terms of use</a></li>
              <li><a href="/">Privacy Policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Our Services</h4>
            {% for item in search_todo|slice:":5" %}
            <ul>
              <li style = "padding-bottom: 20px;"><a href="/all_services/?text={{ item.service_name }}#{{ item.service_name }}/">{{ item.service_name }}</a></li>
            </ul>
            {% endfor %}
          </div>

          <div
            class="col-lg-3 col-md-12 footer-contact text-center text-md-start"
          >
            <h4>Contact Us</h4>
            <p>{{ info_home.address }}</p>
            <p class="mt-1">
              <strong>Phone:</strong> <span>{{ info_home.contact_number }}</span>
            </p>
            <p><strong>Email:</strong> <span>{{ info_home.gmail }}</span></p>
          </div>
        </div>
      </div>

      <div class="container copyright text-center mt-4">
        <p>
          © <span>Copyright</span>
          <strong class="px-1 sitename">{{ info_home.copyright }}</strong>
          <span>All Rights Reserved</span>
        </p>
        <div class="credits">Designed by <a href="">{{ info_home.design }}</a></div>
      </div>
    </footer>

    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <div id="preloader"></div>

    <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/vendor/aos/aos.js"></script>
    <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <script src="/static/assets/js/main.js"></script>
  </body>
</html>
